html,body{height:100%;}
body{position:relative;padding-top:40px;padding-left:180px;}
#header{position:absolute;top:0;left:0;right:0;border:0;margin:0;padding:0;}
#header .navbar-header{position:relative;z-index:100000000;}
#header .navbar-brand{padding:0;}
#header .navbar-brand>img{display:block;height:40px;width:180px;}
#header div>ul>li>a{color:#fff;}
#header-box{position:relative;z-index:10000000;background:#000;}
#header-box .label-badge{padding:2px 7px;}
#header-box .navbar-right{margin-right:-20px!important;}
#menu{position:absolute;left:0;top:40px;bottom:0;margin:0;width:180px;border-left:0;border-right:0;border-radius:0;}
#body-box{height:100%;margin:0;position:relative;padding-bottom:41px;}
#body-box>.panel-body{height:100%;overflow-y:auto;}
#body-footer{position:absolute;bottom:0;left:0;right:0;text-indent:10px;}
#body-table>.btn-toolbar{margin-bottom:2px;position:relative;z-index:10000;}
#body-table>.btn-toolbar button,#body-table>.btn-toolbar input,#body-table>.btn-toolbar .chosen-container-single .chosen-single{height:37px;}
#body-table>.btn-toolbar .chosen-container-single .chosen-single{line-height:27px;}
#body-table>.btn-toolbar .chosen-container-single .chosen-drop{z-index:10000;}
#body-table #btn-todo{padding:0;margin-top:2px;border:0;margin-right:5px;}
#body-table .filter-field{width:180px;padding:0;margin-top:2px;border:0;margin-right:5px;position:relative;z-index:10000;}
#body-table .filter-range{width:300px;padding:0;margin-top:2px;border:0;margin-right:5px;}
#body-table #btn-dosearch{padding:0;margin-top:2px;border:0;}
#body-table .pager{margin:5px 0;}

#body-tabs{min-height:100%;}
#body-tabs .tabs-navbar,#body-tabs .tab-nav-item{padding:0}
#body-tabs .tabs-container{top:32px;overflow-y:auto;}
#body-tabs .tabs-container>.tab-pane{overflow-y:auto;}
#body-tabs .tabs-container>.tab-pane >iframe{height:99%!important;}

.modal-backdrop{z-index:10000;}
.modal{z-index:10000000;left:180px;}
#body-modal .modal-body{overflow:hidden;overflow-y:auto!important;}
#body-modal .modal-body div.form-control{height:auto;padding:4px;}
#body-modal .modal-body .switch{margin-left:5px;}
#body-modal .modal-body .radio-primary,#body-modal .modal-body .checkbox-primary{display:inline-block;margin-right:15px;margin-left:5px;margin-top:5px;}
#cards>.panel{margin-top:-2px!important;margin-bottom:1px;}

.panel-title>a:hover,.panel-title>a:active,.panel-title>a:link{text-decoration:none;}
.uploader,.input-group,.form-editor{padding:0!important;margin:0!important;}
.has-error .chosen-choices{border-color:#ea644a!important;}
.contextmenu,.chosen-container{z-index:1000000000!important;}
.chosen-container-single .chosen-drop{z-index:100000!important;}
.load-indicator:before{z-index:10000000000!important;}
.messagers-holder{z-index:10000000000000!important;}
.load-indicator:after{z-index:100000000000;content:'\e97b';font-size:60px;width:60px;margin-left:-30px;margin-top:-40px;}
.chosen-container-single .chosen-single abbr,.chosen-container-multi .chosen-choices li.search-choice .search-choice-close{line-height:18px!important;}
