*:before, *:after{
	box-sizing:inherit;
	-webkit-box-sizing:inherit;
}
html{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	line-height:1.15;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}
body{
	margin:0;
}
input[type="text"], input[type="email"], input[type="search"], input[type="password"]{
	-moz-appearance:none;
	-webkit-appearance:none;
}
hr{
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
	overflow:visible;
	height:0;
}
pre{
	font-family:monospace, monospace;
	font-size:1em;
}
a{
	background-color:transparent;
	-webkit-text-decoration-skip:objects;
}
img{
	border-style:none;
}
button, input, select, textarea{
	font-family:sans-serif;
	font-size:100%;
	line-height:1.15;
	margin:0;
}
button, input{
	overflow:visible;
}
textarea{
	overflow:auto;
}
html, body{
	height:100%;
}
html{
	font-size:14px;
}
body{
	margin:0;
	padding:0;
	overflow-x:hidden;
	min-width:320px;
	background:#ffffff;
	font-family:'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:1.4285em;
	color:rgba(0, 0, 0, 0.87);
	font-smoothing:antialiased;
}
p{
	margin:0 0 1em;
	line-height:1.4285em;
}
p:first-child{
	margin-top:0;
}
p:last-child{
	margin-bottom:0;
}
a{
	color:#4183c4;
	text-decoration:none;
}
a:hover{
	color:#1e70bf;
	text-decoration:none;
}

::-webkit-selection{
	background-color:#cce2ff;
	color:rgba(0, 0, 0, 0.87);
}
::-moz-selection{
	background-color:#cce2ff;
	color:rgba(0, 0, 0, 0.87);
}
::selection{
	background-color:#cce2ff;
	color:rgba(0, 0, 0, 0.87);
}
textarea::selection,textarea::-moz-selection,textarea::-webkit-selection,input::selection,input::-moz-selection,input::-webkit-selection{
	background-color:rgba(100, 100, 100, 0.4);
	color:rgba(0, 0, 0, 0.87);
}
body ::-webkit-scrollbar{
	-webkit-appearance:none;
	width:10px;
	height:10px;
}
body ::-webkit-scrollbar-track{
	background:rgba(0, 0, 0, 0.1);
	border-radius:0;
}
body ::-webkit-scrollbar-thumb{
	cursor:pointer;
	border-radius:5px;
	background:rgba(0, 0, 0, 0.25);
	-webkit-transition:color 0.2s ease;
	transition:color 0.2s ease;
}
body ::-webkit-scrollbar-thumb:window-inactive{
	background:rgba(0, 0, 0, 0.15);
}
body ::-webkit-scrollbar-thumb:hover{
	background:rgba(128, 135, 139, 0.8);
}
